body{
    background-color: lightsteelblue;
    color:white;
}

.container{
    display: flex;
    row-gap: 10px;
    column-gap: 10px;
    height: 700px; 
    align-items: center; 
    /* justify-content: flex-start; começa da esquerda */
    justify-content: flex-start; 
    /* justify-content: flex-end; começa da direita  */
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around; 
    flex-direction: column;
    flex-direction: row;
    /* flex-direction: row-reverse; inverte a ordem do começo do código */
    flex-wrap: wrap;
    flex-basis: 100px;

}

.item{
    font-size: 3em;
    height: 200px;
    width: 150px;
    background-color: maroon;
    align-items: center;
    text-align: center;
    align-self: flex-end;
    order: -1;
}